altgraph==0.17.5
bleak==3.0.2
certifi==2026.7.22
charset-normalizer==3.5.1
comtypes==1.4.16
idna==3.18
packaging==26.3
pefile==2024.8.26
psutil==7.2.2
pycaw==20251023
pyinstaller==6.22.1
pyinstaller-hooks-contrib==2026.6
pynput==1.8.2
pywin32==312
pywin32-ctypes==0.2.3
requests==2.34.2
setuptools==84.0.0
six==1.17.0
typing_extensions==4.16.0
urllib3==2.7.0
winrt-runtime==3.2.1
winrt-Windows.Devices.Bluetooth==3.2.1
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1
winrt-Windows.Devices.Enumeration==3.2.1
winrt-Windows.Devices.Radios==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Storage.Streams==3.2.1
